{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 order-md-1">
            <h1>ยืนยันสมาชิกทีม</h1>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8 order-md-1">
            <form action="result" method="post">
                <div class="mb-3">
                    <h4 for="teamName">ชื่อทีม</h4>
                    <input type="text" class="form-control" id="teamName" name="teamName" value="{{ teamName }}" readonly>
                </div>
                <!-- RUNNER 1 -->
                <h4 class="mb-3">นักวิ่งคนที่ 1</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="r1FirsttName">ชื่อ</label>
                        <input type="text" class="form-control" id="r1FirstName" name="r1FirstName" value="{{ user1.firstname }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="r1LastName">นามสกุล</label>
                        <input type="text" class="form-control" id="r1LastName" name="r1LastName" value="{{ user1.lastname }}" readonly>
                    </div>
                </div>
                <!-- RUNNER 2 -->
                <h4 class="mb-3">นักวิ่งคนที่ 2</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="r2FirsttName">ชื่อ</label>
                        <input type="text" class="form-control" id="r2FirstName" name="r2FirstName" value="{{ user2.firstname }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="r2LastName">นามสกุล</label>
                        <input type="text" class="form-control" id="r2LastName" name="r2LastName" value="{{ user2.lastname }}" readonly>
                    </div>
                </div>
                <!-- RUNNER 3 -->
                <h4 class="mb-3">นักวิ่งคนที่ 3</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="r3FirsttName">ชื่อ</label>
                        <input type="text" class="form-control" id="r3FirstName" name="r3FirstName" value="{{ user3.firstname }}" readonly>  
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="r3LastName">นามสกุล</label>
                        <input type="text" class="form-control" id="r3LastName" name="r3LastName" value="{{ user3.lastname }}" readonly>
                    </div>
                </div>
                <!-- RUNNER 4 -->
                <h4 class="mb-3">นักวิ่งคนที่ 4</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="r4FirsttName">ชื่อ</label>
                        <input type="text" class="form-control" id="r4FirstName" name="r4FirstName" value="{{ user4.firstname }}" readonly>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="r4LastName">นามสกุล</label>
                        <input type="text" class="form-control" id="r4LastName" name="r4LastName" value="{{ user4.lastname }}" readonly>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary btn-space float-right" onclick="history.back(-1)" id="backButton">ย้อนกลับ</button>
                <button type="submit" class="btn btn-primary btn-space float-right" id="confirmButton">ยืนยัน</button>
            </form>
        </div>  
    </div>
</div>
{% endblock %}