{% extends "layout.html" %}
{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="display-6">ICMM 2019: e-Reward</h2>
        <p>challenge</p>
        <br>
        <h2 class="display-6">รายละเอียด</h2>
        <p>กรอกเลข bib และเลข 4 หลักสุดท้ายของเบอร์โทรศัพท์</p>
    </div>
</div>
<div class="container">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <form id="login-form" role="form" style="display: block;">
                    <!-- <div class="form-group">
                        <label>ระยะที่สมัคร</label>
                        <select autofocus class="form-control" id="raceCategory">
                            <option value="5K">Fun Run 5K </option>
                            <option selected value="10K">Mini Marathon 10K</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label>หมายเลขบิบ</label>
                        <input type="text" name="bibNumber" id="bibNumber" tabindex="1" class="form-control" pattern="^[0-9]{4}$"
                            minlength=1 maxlength=4 placeholder="เลขบิบ" required>
                    </div>
                    <div class="form-group">
                        <label>หมายเลขโทรศัพท์</label>
                        <input type="password" name="telNumber" id="telNumber" tabindex="2" class="form-control"
                            minlength=4 maxlength=4 placeholder="เบอร์โทร 4 หลักสุดท้าย" required>
                    </div>
                    <div class="form-group">
                        <button type="button" id="searchButton" class="btn btn-primary">
                            ค้นหา
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "modal.html" %}

<script>
    $(document).ready(function () {
        var updateRewardSrc = function(bibNumber, pin) {
            var challengeCertUrl = "{{ baseChallengeCertUrl }}" + bibNumber + "?pin=" + pin ;
            var eReward1Url = "{{ baseEReward1Url }}" + bibNumber + "?pin=" + pin ;
            var eReward2Url = "{{ baseEReward2Url }}" + bibNumber + "?pin=" + pin ;
            
            $("#challegeCertImage").attr("src", challengeCertUrl);    
            $("#eReward1Image").attr("src", eReward1Url);    
            $("#eReward2Image").attr("src", eReward2Url);    
        };
        $("#searchButton").click(function () {
            var bibNumber = $("#bibNumber").val();
            var tel4Digit = $("#telNumber").val();

            if (bibNumber.length == 0){
                alert("กรุณากรอกหมายเลขบิบ");
                return;
            }
            if (tel4Digit.length != 4){
                alert("กรุณากรอกเบอร์โทรให้ครบ 4 หลัก");
                return;
            }

            console.log("Get data: bibNumber=" + bibNumber + " pin=" + tel4Digit);
            var url = "api/runners/" + bibNumber + "?pin=" + tel4Digit ;
            $.ajax({
                type: "GET",
                dataType: "json",
                url: url,
                success: function(data){
                    console.log(data)
                    if(data.statuscode == 0){
                        updateRewardSrc(bibNumber, tel4Digit);
                        $("#eRewardModal").modal("show");
                        $("#errorModal").modal("hide");
                    }else{
                        $("#errorModal").modal("show");
                        $("#eRewardModal").modal("hide");
                    }
                },
                error: function(err){
                    alert("Cannot connect to server");
                }
            });
        });
    });
</script>
{% endblock %}