<!-- e-Reward Modal -->
<style>
    @media (max-width: 500px) {
        #challegeCertContainer{
            justify-content: center;
        }
        #eReward1Image{
            width:98vw;
            height:98vw !important;
        }
        #challegeCertImage{
            width:98vw;
            height:138.45vw !important;
        }
    }
</style>
<div class="modal fade" id="eRewardModal" tabindex="-1" role="dialog" aria-labelledby="eRewardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eRewardModalLabel">ICMM2019 e-Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>ขอบคุณสำหรับความเห็น</p>
                <br>
                <h3>Challenge Certificate</h3>
                <div class="row" id="challegeCertContainer">
                    <img id="challegeCertImage" class="img-fluid" alt="Responsive image" style="height: 500px" src="">
                </div>
                <h3>Special Gift</h3>
                <div class="row">
                    <img id="eReward1Image" class="img-fluid" alt="Responsive image" style="height: 500px" src="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- Challenge Result Modal -->
<div class="modal fade" id="formModal1" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="formModalLabel">Challenge Result</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form role="form" action="" method="post" class="registration-form">
                    <fieldset style="display: block;">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3><u>สิ่งที่คุณตั้งใจจะ Change</u></h3>
                                <h5 id="myChallenge"></h5>
                                <br>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <h3><u>ผลลัพธ์</u></h3>
                                <input name="challengeResult" placeholder="ผลลัพธ์ของการ Change" class="form-control"
                                    id="challengeResult" type="text">
                            </div>
                        </div>
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-next">ถัดไป</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
<!-- feedback Modal -->
<div class="modal fade" id="formModal2" tabindex="-1" role="dialog" aria-labelledby="formModal2Label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal2Label">ความเห็นสำหรับงานวิ่ง ICMM2019</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="feedback-form" role="form" style="display: block;">
                    <h3><u>อยากบอกอะไรกับทีมงาน ICMM2019</u></h3>
                    <div class="form-group">
                        <textarea name="feedback" id="feedback" class="form-control" aria-label="ความเห็น"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-prev">กลับ</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">ปิด</button>
                <button type="button" class="btn btn-primary" id="submitFeedbackButton">ส่ง</button>
            </div>
        </div>
    </div>
</div>
<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel" class="">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <span id="errorModalMessage" class="text-danger">
                        ไม่พบเลขบิบ หรือ หมายเลขโทรศัพท์ 4 หลักไม่ถูกต้อง
                    </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>
