<!-- e-Reward Modal -->
<div class="modal fade" id="eRewardModal" tabindex="-1" role="dialog" aria-labelledby="eRewardModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eRewardModalLabel">e-Reward พร้อมแล้ว</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Your challenge cert is here ....
                <div class="row">
                    <img id="challegeCertImage" class="img-thumbnail" 
                        src="">
                </div>
                Your sponsored reward 1 is here ....
                <div class="row">
                    <img id="eReward1Image" class="img-thumbnail" 
                        src="">
                </div>
                Your sponsored reward 2 is here ....
                <div class="row">
                    <img id="eReward2Image" class="img-thumbnail"
                        src="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Error Modal -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel" class="">Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <span id="errorModalMessage" class="text-danger">
                        ไม่พบเลขบิบ หรือ หมายเลขโทรศัพท์ 4 หลักไม่ถูกต้อง
                    </span>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>